<section id="about" class="py-16">
    <div class="container mx-auto px-4 py-8">
        <!-- Sezione Formazione -->
        <section id="formazione" class="formazione-section">
            <h2 class="section-title">Formazione</h2>
            <ul class="education-list">
                <li>
                    <h3 class="course-title">Junior Java Developer: Generation Italy</h3>
                    <span class="course-date">Aprile - Agosto 2024</span>
                </li>
                <li>
                    <h3 class="course-title">Programmazione PLC: Milano</h3>
                    <span class="course-date">2020 (80 ore)</span>
                </li>
                <li>
                    <h3 class="course-title">Diploma di perito elettrotecnico</h3>
                    <span class="course-institute">Istituto G. Giorgi di Milano</span>
                    <span class="course-date">2017-2020</span>
                </li>
            </ul>
        </section>
    
        <!-- Sezione Lingue -->
        <section id="lingue" class="languages-section mt-8">
            <h2 class="section-title text-2xl font-bold mb-4">Lingue</h2>
            <ul class="languages-list">
                <li class="language-item">
                    <span class="language-name">Filippino</span>
                    <div class="progress-bar-container">
                        <div class="progress-bar" style="width: 100%;"></div>
                    </div>
                    <span class="language-level">Madrelingua</span>
                </li>
                <li class="language-item">
                    <span class="language-name">Italiano</span>
                    <div class="progress-bar-container">
                        <div class="progress-bar" style="width: 60%;"></div>
                    </div>
                    <span class="language-level">Intermedio</span>
                </li>
                <li class="language-item">
                    <span class="language-name">Inglese</span>
                    <div class="progress-bar-container">
                        <div class="progress-bar" style="width: 70%;"></div>
                    </div>
                    <span class="language-level">Intermedio</span>
                </li>
            </ul>
        </section>
    
        <!-- Sezione Area di Competenza -->
        <section id="area-di-competenza" class="competence-section mt-8">
            <h2 class="section-title">Area di Competenza</h2>
            <p class="competence-description">
                Durante il corso di Junior Java Developer, ho acquisito una solida base nelle seguenti tecnologie e metodologie:
            </p>
            <ul class="competence-list">
                <li><strong>Java</strong>: Comprensione dei principi della programmazione orientata agli oggetti e sviluppo di applicazioni robuste.</li>
                <li><strong>HTML e CSS</strong>: Creazione e stilizzazione delle pagine web.</li>
                <li><strong>JavaScript</strong>: Aggiunta di interattività e dinamismo alle interfacce utente.</li>
                <li><strong>Database MySQL</strong>: Gestione e interrogazione dei dati delle applicazioni.</li>
                <li><strong>Spring</strong>: Sviluppo di applicazioni enterprise in Java.</li>
                <li><strong>Angular</strong>: Creazione di applicazioni web moderne e interattive.</li>
                <li><strong>Agile e Scrum</strong>: Gestione di progetti in modo efficiente, favorendo la collaborazione e l'adattamento rapido ai cambiamenti.</li>
            </ul>
        </section>

        <!-- Sezione Esperienze -->
        <section id="esperienze" class="experience-section mt-8">
            <h2 class="section-title">Esperienza Professionale</h2>
            <ul class="experience-list">
                <li class="experience-item">
                    <h3 class="course-title">Pickerista presso Esselunga (MI)</h3>
                    <span class="course-date">Settembre 2021 - Febbraio 2024</span>
                    <p class="mt-2">Attenzione ai dettagli, precisione, puntualità e rispetto delle task assegnate.</p>
                </li><br>

                <li class="experience-item">
                    <h3 class="course-title">Operatore presso Vievi Elettronica Srl (MI)</h3>
                    <span class="course-date">Gennaio - Giugno 2021</span>
                    <p class="mt-2">Assemblaggio di schede elettroniche seguendo specifiche tecniche e schemi elettrici.</p>
                    <p class="mt-2">Verifica della corretta funzionalità dei componenti elettronici e risoluzione di eventuali problemi.</p>
                </li>
            </ul>
        </section>

        <!-- Sezione Hobby -->
        <section id="hobby" class="hobby-section mt-8">
            <h2 class="section-title">Hobby</h2>
            <ul class="hobby-list">
                <li>Basketball</li>
                <li>Ascoltare Musica</li>
                <li>Giocare ai Videogiochi</li>
            </ul>
        </section>
    </div>
</section>