<section id="contact" class="py-16">
  <div class="contact-section">
    <h3>CONTATTI</h3>
    <ul class="contact-list">
        <li class="contact-item">
            <i class="fas fa-phone-alt"></i> 320 221 5430
        </li>
        <li class="contact-item">
            <i class="fas fa-envelope"></i> <a href="mailto:argeldan28@gmail.com">argeldan28&#64;gmail.com</a>
        </li>
        <li class="contact-item">
            <i class="fas fa-linkedin"></i>
            <a href="https://www.linkedin.com/in/argel-dan-alcantara-23570917b" target="_blank">
                www.linkedin.com/in/argel-dan-alcantara-23570917b
            </a>
        </li>
    </ul>
</div>
  </section>