<app-navbar></app-navbar>

<!-- Div con altezza di 500px -->
<div class="full-width-blue bg-blue-950 text-white p-8" style="height: 500px;">
    <section id="dashboard" class="py-16 flex justify-between items-center">
        <div class="text-container pl-40">
            <h1 class="text-3xl font-bold">Argel Dan Alcantara</h1>
            <h2 class="text-2xl">Junior Java Developer</h2>

            <p class="mt-4 text-xl max-w-lg">
                Sono un aspirante sviluppatore web con una grande passione per la tecnologia e il design. 
                Amo trasformare idee in realtà digitali attraverso il codice e sono costantemente alla ricerca di nuove sfide per crescere professionalmente. 
                Mi impegno a migliorare continuamente le mie competenze e sono entusiasta di contribuire a progetti innovativi che fanno la differenza.
            </p>

            <!-- Bottone per scaricare il CV -->
            <a href="CV.pdf" download="ArgelDanAlcantara-CV.pdf" class="mt-4 inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
                Scarica il CV
            </a>
        </div>

        <div class="image-container">
            <img src="PROFILOCV.jpg" alt="Profilo" class="rounded-lg w-64">
        </div>
    </section>
</div>

<div class="container mx-auto px-4 py-8">
    <!-- Sezione About -->
    <div class="fade-in">
        <app-about></app-about>
    </div>
  
    <!-- Sezione Projects -->
    <div class="fade-in">
        <app-projects></app-projects>
    </div>
  
    <!-- Sezione Contact -->
    <div class="fade-in">
        <app-contact></app-contact>
    </div>
</div>
